* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #393939;
}

body {
    max-width: 3600px;
    margin: auto;
    background-color: white;
}

.head-conteiner {
    background-image: url(../img/jumbo.png);
    background-color: #255ee9;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 650px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.navbar {
    display: flex;   
    width: 90%;
    flex-wrap: wrap;
    /* min-height: 40px; */
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
}

.logo-image {
    content: url(../img/logo.svg);
    padding: 5px 10px;
}

#nav-items-box {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 0px ;
}

.nav-items {
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
}

.nav-items:hover {
    text-decoration: underline;
}


.button {
    border: transparent;
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 30px;
}

.offwhite {
    background-color: #f6f6f6;
}

.black {
    background-color: black;
    color: white;
}

.black:hover {
    background-color: rgb(40, 40, 40);
}

.white {
    background-color: white;
    color: black;
}

.white:hover {
    color: #5865f2;
}

.blue-discord {
    background-color: #5865f2;
    color: white;
}

.blue-discord:hover {
    background-color: #6f7af9;
}

#header-box {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

#header-title {
    font-size: 64px;
    padding: 30px 25px;
    text-align: center;
    font-weight: 700;
}

#header-description {
    font-size: 18px;
    padding: 0px 50px;
    margin: 10px 0px;
    line-height: 1.8;
    text-align: center;
}

#header-box-buttons {
    min-width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    
}

.conteiner {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 600px;
}

.info-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: 40px auto;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}
    
img {
    max-width: 100%;
    height: auto;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
}

.subtitle {
    font-size: 48px;
    padding: 0px;
    text-align: left;
    font-weight: 700;
    margin: 10px 0;
}

.description {
    font-size: 18px;
    padding: 0;
    margin-top: 20px;
    line-height: 1.8;
    text-align: left;
}


.big-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 1400px;
    padding: ;
}

.big-infobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.big-img {
    width: 100%;
    height: auto;
}

.big-subtitle {
    font-size: 48px;
    padding: 0px;
    text-align: center;
    font-weight: 700;
}

.big-description {
    font-size: 18px;
    padding: 0;
    margin-top: 20px;
    line-height: 1.8;
    text-align: center;
    width: 80%;
}
.stars {
    width: 80%;
    min-height: 80px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#download-box {
    width: 70%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}

footer {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgb(39, 39, 39);
    padding-top: 40px;
}

.footer-items .subtitle {
    color: #5865f2;
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 30px;

}

.footer-main-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    min-height: 300px;

}

.footer-items img {
    width: 30px;
    height: auto;
    
}

select {
    background-color: transparent;
    font-size: 18px;
    color: white;
}



.footer-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 270px;
    /* background-color: bisque; */
    color: white;
}

.share {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 30px 0px;

}

.share img {
    width: 30px;
    height: auto;
}

.footer-items > div {
    color: #5865f2;
    margin-top: 0px;
}

a.description {
    color: white;
}

.footer-end {
    width: 70%;
    border-top: 2px solid #5865f2;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;


}

/* TO DO 
    -bisogna rivedere tutto il css. troppo lungo. vedere se si possono usare pseudo selettori. 
    -bisogna aggiungere il bottone accedi nel header. -rivedere sezione big image with DL button. rivisionare struttura */

